<template lang="pug">
  .consumer-credit
    Popup(v-show='popupScheduleActive' v-scroll-lock="popupScheduleActive")
      PopupContent.popup_payment-schedule
      <!--template(v-if="")-->
      <!--.tr-->
      <!--.tr-->
    
    .consumer-credit__sliders
      .slider-group.slider-group_consumer.slider-group_amount
        PriceInput.input_range(:field.sync='amount', :input='schema.amount', @handleFocus="showInput", @handleBlur="hideInput", @input="handleInput")
        .slider-group__value
          span.consumer-credit__input(v-show="false")
          span.consumer-credit__symbol ₽
        RangeSlider(v-model='amount', min='30000', max='5000000', step='10000')
        .slider-group__info
          .slider-group__min 30 000
          .slider-group__max 5 000 000
      
      
      .slider-group.slider-group_time
        AppInput.input_range(:field.sync='creditTerm', :input='schema.creditTerm', :disabled="true")
        .slider-group__value
          span(v-if='Math.floor(creditTerm/12)')
            |  {{Math.floor(creditTerm/12)}} {{nounYear}}
          span(v-if='creditTerm - Math.floor(creditTerm/12) * 12')
            |  {{creditTerm - Math.floor(creditTerm/12) * 12}} {{nounMonth}}
        RangeSlider(v-model='creditTerm', min='3', max='120')
        .slider-group__info
          .slider-group__min 3 месяца
          .slider-group__max 10 лет
    
    .consumer-credit__rates
      .rates
        .rates__item
          .rates__text Ставка
          .rates__value {{calculateConsumerRate}} %
        
        .rates__item
          .rates__text Ежемесячный платеж
          .rates__price-container
            a(href='#').rates__minus(@click.prevent="incrementMonth")
              include ../assets/img/minus.svg
            span.rates__value.price {{calculateTotalSumTween | priceFormat}} ₽
            a(href='#').rates__plus(@click.prevent="decrementMonth")
              include ../assets/img/plus.svg
    
    .consumer-credit__checkboxes
      .consumer-credit__left-checkboxes
        .checkbox
          input.checkbox__control(type="checkbox", value='1111', v-model='checkedSalaryInPrio', id="1")
          label.checkbox__label(for="1") Зарплата, пенсия в&nbsp;Прио или работник бюджетной сферы
        .checkbox
          input.checkbox__control(type="checkbox", value='222222', v-model='checkedIpoteka', id="2")
          label.checkbox__label(for="2") Есть действующая ипотека в Прио
      
      .consumer-credit__right-checkboxes
        .checkbox
          input.checkbox__control(type="checkbox", value='33333', v-model='checkedGosuslugi', id="3")
          label.checkbox__label(for="3") Могу подтвердить доход через госуслуги
            span.tooltip
              span.tooltip_open
                include ../assets/img/info-grey.svg
              
              span.tooltip_content
                | Предоставление сведений о состоянии индивидуального лицевого счета  в Пенсионном фонде РФ через портал
                a.tooltip_link(href='https://www.gosuslugi.ru/') www.gosuslugi.ru
        .checkbox
          input.checkbox__control(type="checkbox", value='4444', v-model='checkedCreditInPrio', id="4")
          label.checkbox__label(for="4") Уже брал кредит в Прио
    
    .consumer-credit__buttons
      .consumer-credit__button.consumer-credit__button_black-border
        a.consumer-credit__inner-btn(href="#", @click.prevent="calcTerms") показать график
      .consumer-credit__button.consumer-credit__button_strawberry
        a.consumer-credit__inner-btn(href="#") заполнить заявку
    .consumer-credit__text Расчет является предварительным и производится по минимальным ставкам.

</template>

<script>
  import VueMixinTween from 'vue-mixin-tween';
  import {mapFields} from 'vuex-map-fields';
  import {mapActions} from 'vuex';
  import getNoun from '@utils/getNoun';

  export default {
    name: 'consumerCredit',
    components: {},
    created() {
      // this.getData()
      this.$store.dispatch('getData')
    },
    mounted() {
    },
    mixins: [
      // The only required argument is the name of the property to tween.
      // The default duration is 500 milliseconds.
      // The default timing function is TWEEN.Easing.Quadratic.Out
      // We're using a "custom" linear timing function here.
      VueMixinTween('calculateTotalSum', 200, (pos) => pos)
    ],

    methods: {
      calcTerms() {
        // console.log(this.calculateConsumerRate, this.consumerRate)
        this.calcTable = []
        this.popupScheduleActive = true;
        for (let i = 1; i <= this.creditTerm; i++) {
          if (this.checkedCreditType === 'Anuetent') {
            if (i === 1) {
              //a1
              this.debt = (this.amount).toFixed(2);
              //d1
              this.totalMonthly = (this.amount * (this.calculateConsumerRate / 1200 / (1 - (Math.pow((1 + (this.calculateConsumerRate / 1200)), (-this.creditTerm)))))).toFixed(2);
              //b1
              this.percentRepayment = ((this.debt * this.calculateConsumerRate) / 1200).toFixed(2)
              //c1
              this.loanRepayment = (this.totalMonthly - this.percentRepayment).toFixed(2);

            } else {
              this.debt = (this.calcTable[i - 2].debt - this.calcTable[i - 2].loanRepayment).toFixed(2)
              this.totalMonthly = Math.min(parseFloat(this.totalMonthly), parseFloat(this.calcTable[i - 2].debt + this.percentRepayment))
              this.percentRepayment = ((this.debt * this.calculateConsumerRate) / 1200).toFixed(2);
              this.loanRepayment = (this.totalMonthly - this.percentRepayment).toFixed(2);
            }
            
          } else {
            // this.calcTable = []
            if (i === 1) {
              //a1
              this.debt = (this.amount).toFixed(2);
              //b1
              this.percentRepayment = ((this.debt * this.calculateConsumerRate) / 1200).toFixed(2)
              //c1
              this.loanRepayment = (this.amount / this.creditTerm).toFixed(2);
              //d1
              this.totalMonthly = (parseFloat(this.percentRepayment) + parseFloat(this.loanRepayment)).toFixed(2)

            } else {
              this.debt = (this.calcTable[i - 2].debt - this.calcTable[i - 2].loanRepayment).toFixed(2)
              this.percentRepayment = ((this.debt * this.calculateConsumerRate) / 1200).toFixed(2);
              this.loanRepayment = (Math.min(parseFloat(this.calcTable[i - 2].loanRepayment), parseFloat(this.debt))).toFixed(2)
              this.totalMonthly = (parseFloat(this.percentRepayment) + parseFloat(this.loanRepayment)).toFixed(2)

            }

            // this.calcTable = []
          }

          //массив из рядов
          this.calcTable.push({
            month: i,
            debt: this.debt,
            loanRepayment: this.loanRepayment,
            percentRepayment: this.percentRepayment,
            totalMonthly: this.totalMonthly

          })
        }
        
      },
      addTween() {
        this.tweeningValue = 1000000;
      },
      checkButton() {
        console.log('fff', this.checkboxChecked)
      },
      handleCheckboxChange() {
        this.checkButton();
      },
      handleClick() {
        this.$router.push({name: 'step2'})
      },
      decrementMonth() {
        if (this.creditTerm > 3) {
          this.creditTerm--;
        }
      },
      incrementMonth() {
        if (this.creditTerm < 120) {
          this.creditTerm++;
        }
      },
      showInput() {

      },
      hideInput() {

      },

      handleInput(e) {
        this.checkAmountInput()
      },
      checkAmountInput() {
        if (this.amount < 30000) {
          return this.amount = 30000
        }
        else if (this.amount > 5000000) {
          return this.amount = 5000000
        }
      },
    },
    computed: {
      result() {
        return this.firstNumber + this.secondNumber
      },
      ...mapActions({
        getData: 'getData'
      }),
      ...mapFields({
        amount: 'amount',
        creditTerm: 'creditTerm',
        schema: 'schema',
        checkedSalaryInPrio: 'checkedSalaryInPrio',
        checkedIpoteka: 'checkedIpoteka',
        checkedGosuslugi: 'checkedGosuslugi',
        checkedCreditInPrio: 'checkedCreditInPrio',
        consumerRate: 'consumerRate',
        priceIsShown: "priceIsShown",
        calcTable: 'calcTable',
        debt: 'debt',
        popupScheduleActive: 'popupScheduleActive',
        checkedCreditType: 'checkedCreditType'

      }),
      nounMonth() {
        return getNoun(this.creditTerm - Math.floor(this.creditTerm / 12) * 12, 'месяц', 'месяца', 'месяцев')
      }
      ,
      nounYear() {
        return getNoun(Math.floor(this.creditTerm / 12), 'год', 'года', 'лет')
      }
      ,
      calculateConsumerRate() {
        if (this.amount < 400000) {
          this.consumerRate = 14
        } else this.consumerRate = 13.5;

        if (this.checkedSalaryInPrio || this.checkedGosuslugi) {

          if (this.checkedIpoteka) {
            return this.consumerRate - 2
          }
          else if (this.checkedCreditInPrio) {
            return this.consumerRate - 1.5
          }

          return this.consumerRate - 1
        }
        else if (this.checkedCreditInPrio) {
          if (this.checkedIpoteka) {
            return this.consumerRate - 1
          }
          return this.consumerRate - 0.5
        }
        else if (this.checkedIpoteka) {
          return this.consumerRate - 1
        }

        return this.consumerRate
      },
      calculateTotalSum() {
        return (this.amount * (this.calculateConsumerRate / 1200 / (1 - (Math.pow((1 + (this.calculateConsumerRate / 1200)), (-this.creditTerm))))))
      },

    },
    watch: {
      //следит за переменной checkedCreditType
      checkedCreditType() {

        //если ее значение в хранилище меняется, то выполняется это
        this.calcTerms()
      }
    }
  }
</script>

