<template lang="pug">
  .popup-calc__container
    .popup-calc__heading График платежей
    .popup-calc__th.calc-row.calc-row_th
      .calc-row__1col
        .calc-row__heading.calc-row__heading_1 Месяц
      .calc-row__2col
        .calc-row__heading Задолженность по кредиту
      .calc-row__3col
        .calc-row__heading.calc-row__heading_3 Погашение основного кредита
      .calc-row__4col
        .calc-row__heading Погашение процентов
      .calc-row__5col
        .calc-row__heading.calc-row__heading_5 Общая сумма ежемесячного платежа

    .popup-calc__table.table-popup
        PopupRow(v-for="(elem, index) in calcTable", :key="index", :elem="elem")
        .table-popup__row.calc-row
          .calc-row__1col Итого
          .calc-row__2col
          .calc-row__3col
            .calc-row__heading
              | {{calculateTotalCalcLoan | priceCalcFormat}} ₽
          .calc-row__4col
            .calc-row__heading
              | {{calculateTotalCalcPercents | priceCalcFormat}} ₽
          .calc-row__5col
            .calc-row__heading
              | {{calculateTotalCalcMonthly | priceCalcFormat}} ₽
    .popup-calc__bottom-row
      .popup-calc__numbers
        .popup-calc__text Сумма кредита
        .popup-calc__number {{amount | priceCalcFormat}} ₽
      .popup-calc__numbers
        .popup-calc__text Переплата
        .popup-calc__number.popup-calc__number_overpay {{calculateTotalCalcPercents | priceCalcFormat}} ₽
      .popup-calc__radio.radio-calc
        .radio-calc__item(v-for="option in radioCreditTypes")
          input.radio-calc__control(type="radio", v-model="checkedCreditType", :id="option.value", :value="option.value", name="radioCreditTypes")
          label(:for="option.value")
            span.tooltip.radio-calc__label {{option.text}}
              span.tooltip_content
                | Текст в тултипе
      button(type="button").popup-calc__btn сохранить как pdf
</template>

<script>
  import {mapFields} from 'vuex-map-fields';
  export default {

    props: {},

    name: 'popupContent',
    components: {},
    data() {
      return {}
    },
    mounted() {

    },
    methods: {},
    computed: {
      ...mapFields({
        amount: 'amount',
        creditTerm: 'creditTerm',
        schema: 'schema',
        consumerRate: 'consumerRate',
        calcTable: 'calcTable',
        radioCreditTypes: 'radioCreditTypes',
        checkedCreditType: 'checkedCreditType',



        checkedSalaryInPrio: 'checkedSalaryInPrio',
        checkedIpoteka: 'checkedIpoteka',
        checkedGosuslugi: 'checkedGosuslugi',
        checkedCreditInPrio: 'checkedCreditInPrio',
        priceIsShown: "priceIsShown",
        calculatedTotalCalcPercents: "calculatedTotalCalcPercent"

      }),

      calculateTotalCalcPercents () {
        const reducer = (accumulator, item) => accumulator + parseFloat(item.percentRepayment);
        return (this.calcTable.reduce(reducer, 0)).toFixed();
      },
      calculateTotalCalcLoan() {
        const reducer = (accumulator, item) => accumulator + parseFloat(item.loanRepayment);
        return (this.calcTable.reduce(reducer, 0)).toFixed(2);
      },
      calculateTotalCalcMonthly() {
        const reducer = (accumulator, item) => accumulator + parseFloat(item.totalMonthly);
        return (this.calcTable.reduce(reducer, 0)).toFixed(2);

      }
    }
  }
</script>
