<template lang="pug">
  .table-popup__row.calc-row
    .calc-row__1col {{elem.month}}
    .calc-row__2col {{elem.debt | priceCalcFormat}} ₽
    .calc-row__3col {{elem.loanRepayment | priceCalcFormat}} ₽
    .calc-row__4col {{elem.percentRepayment | priceCalcFormat}} ₽
    .calc-row__5col {{elem.totalMonthly}} ₽
</template>

<script>
  import {mapFields} from 'vuex-map-fields';
  export default {

    props: {
      elem: Object,
    },

    name: 'popupRow',
    components: {},
    data() {
      return {}
    },
    mounted() {

    },
    methods: {},
    computed: {
      ...mapFields({
        amount: 'amount',
        creditTerm: 'creditTerm',
        schema: 'schema',
        consumerRate: 'consumerRate',
        debt: 'debt'
        

      }),

      calculateDebt() {
      
      
      },
    }
  }
</script>
