.bottom-controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gosuslugi-auth-why {
  width: 100%;
  text-align: right;
  font-size: 12px;
  text-decoration: underline;
  margin-top: 12px;

  &__link {
    color: #000;
  }
}

.calc-button {
  cursor: pointer;
  background-color: #00B295;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  max-width: 240px;


  &__inner {
    display: block;
    padding: 12px 60px;
    color: white;
  }

  &:hover {
    background-color: darken(#00B295, 0.7);
  }
}
