.calc-row {
  display: flex;
  width: 100%;
  padding: 20px 10px 20px 0;

  @include phone {
    font-size: 12px;
    padding: 10px 0 10px 0;
  }


  &_th {
    padding-top: 25px;
    padding-bottom: 27px;
    border-bottom: 1px solid #E6E6E6;

    @include phone {
      padding-top: 7px;
      padding-bottom: 7px;
    }

    .calc-row {
      &__heading {
        font-size: 18px;
        line-height: 21px;
        max-width: 143px;

        @include tablets {
          font-size: 16px;
          line-height: normal;
        }

        @include phone {
          font-size: 12px;
        }
        &_1, &_5 {
          max-width: none;
        }
        &_5{
          padding-right: 0;
        }
        &_3 {
          max-width: 180px;
        }
      }

    }
  }


  &__1col {
    width: 14%;
    padding-left: 37px;


    @include tablets {
      padding-right: 20px;
      padding-left: 20px;
    }

    @include phone {
      width: 30%;
    }
  }
  &__2col {
    width: 21.5%;
    padding-right: 20px;

    @include tablets {
      padding-right: 10px;
    }

    @include phone {
      width: 35%;
    }
  }
  &__3col {
    width: 21.5%;
    padding-right: 20px;


    @include tablets {
      width: 31%;
      padding-right: 10px;
    }

    @include phone {
      display: none;
    }
  }
  &__4col {
    width: 21.5%;
    overflow-wrap: break-word;
    padding-right: 10px;


    @include tablets {
      width: 16%;
    }

    @include phone {
      display: none;
    }
  }
  &__5col {
    width: 21.5%;
    padding-right: 43px;

    @include tablets {
      width: 29%;
      padding-right: 10px;
    }

    @include phone {
      width: 35%;
    }
  }

}
