.checkbox {

  &__control {
    display: none;
    &:checked ~ label:after {
      opacity: 1;
    }
  }
  &__label {
    font-family: 'Suisse Intl', sans-serif;
    position: relative;
    padding-left: 25px;
    font-size: 12px;
    line-height: 23px;
    color: #808080;
    cursor:pointer;
    user-select:none;
    &:after {
      content:'';
      display: block;
      border-radius:4px;
      width: 20px;
      height:20px;
      position: absolute;
      left: 0;
      top: -2px;
      background-image: url(../../assets/img/checkbox.svg);
      background-size: 50%;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: 0;
      transition:.2s;
    }
    &:before {
      content: '';
      position: absolute;
      top: -3px;
      left: 0;
      box-sizing: border-box;
      border-radius: 4px;
      cursor: pointer;
      width: 20px;
      height: 20px;
      border:1px solid #E6E6E6;
    }
  }

  &__link {
    color: #000;
    text-decoration: underline;
  }
}
