.consumer-credit {
  display: flex;
  flex-wrap: wrap;

  .range-slider {
    bottom: -8px !important;
  }

  .slider-group_amount {
    .slider-group__value {
      bottom: 30%;
    }

    .input__control {
      font-size: 16px;
      font-weight: 700;
      color: black;
      pointer-events: auto;
      padding: 27px 46px 21px !important;
    }

  }

  &__buttons {
    width: 41%;

    @include tablets {
      width: 100%;
      order: 3;
    }
  }

  &__button {
    cursor: pointer;
    background-color: #00B295;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    max-width: 270px;
    margin-bottom: 24px;

    @include tablets {
      max-width: none;
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &_black-border {
      background-color: transparent;
      border: 1px solid #000000;
      color: black;
      &:hover {
        background-color: darken(#00B295, 0.7);
        border-color: #00B295;
        .consumer-credit__inner-btn {
          color: white;
        }
      }
    }

    &_strawberry {
      background-color: #E50086;
      border: none;
      color: black;

      .consumer-credit__inner-btn {
        color: white;
      }

      &:hover {
        background-color: #BD006E;
      }
    }
  }

  &__inner-btn {
    display: block;
    padding: 12px 60px;
    color: black;
  }

  &__sliders {
    padding-right: 9%;
    width: 59%;

    @include tablets {
      width: 100%;
      padding-right: 0;
    }
  }
  &__rates {
    width: 41%;

    @include tablets {
      width: 100%;
      order: 2;
    }
  }
  &__checkboxes {
    width: 59%;
    padding-right: 8%;
    display: flex;
    text-align: left;
    flex-wrap: wrap;

    @include tablets {
      width: 100%;
    }

    .checkbox__label {
      font-size: 16px;
      display: block;
      margin-bottom: 26px;

      @include phone {
        margin-bottom: 13px;
      }

      &:before {
        top: 2px;
      }

      &:after {
        top: 2px;
      }
    }
  }
  &__text {
    width: 100%;
    color: #808080;
    font-size: 15px;
    font-family: 'Suisse Intl', 'Helvetica', sans-serif;
    margin-bottom: 37px;
  }

  &__left-checkboxes {
    width: 50%;
    padding-right: 34px;
    margin-bottom: 27px;

    @include tablets {
      margin-bottom: 8px;
    }

    @include phone {
      width: 100%;
      padding-right: 0;
      margin-bottom: 0;
    }
    .checkbox {
      max-width: 297px;

      @include phone {
        max-width: none;
      }
    }
  }

  &__right-checkboxes {
    width: 50%;
    padding-right: 14px;

    @include phone {
      width: 100%;
      padding-right: 0;
      margin-bottom: 30px;
    }

    .checkbox {
      max-width: 260px;

      @include phone {
        max-width: none;
      }
    }
  }

  .input__control {
    color: #ffffff;
    pointer-events: none;
  }
  .slider-group__value {
    font-size: 16px;
    font-weight: 700;
  }
}
