.overlay-calc {
  position: fixed;
  padding: 0 60px;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  //display: none;
  display: block;

  @include tablets {
    padding: 0 16px;
  }
}

.fixed {
  overflow: hidden;
}

.popup-calc {
  position: fixed;
  font-family: 'Suisse Intl', 'Helvetica', sans-serif;

  //display: flex;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 1.5s;
  width: calc(100% - 60px - 60px);
  max-width: 1328px;
  background-color: #fff;
  max-height: 80vh;
  border-radius: 6px;

  @include tablets {
    width: calc(100% - 32px);
    max-height: 80vh;
  }

  @include phone {
   max-height: 75vh;
  }

  &__container {
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    height: 80vh;

  }

  &__heading {
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: black;
    padding: 26px 36px 29px 36px;

    @include phone {
      padding: 19px 15px 21px;
      font-size: 20px;
      line-height: normal;
    }
  }

  &__bottom-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-top: 1px solid #E6E6E6;
    padding: 51px 34px 58px;

    .popup-calc__numbers {
      &:last-child {
        margin-right: 0;
        width: auto;
      }
    }
    @include media(1216px) {
      flex-wrap: wrap;
      justify-content: initial;
    }

    @include phone {
      padding: 18px 15px 29px;
      justify-content: space-between;
    }

  }

  &__numbers {
    margin-right: 72px;
    flex-shrink: 0;
    &:last-child {
      margin-right: 0;
      @include phone {
        width: auto;
      }
    }

    @include media(1216px) {
      margin-bottom: 20px;
    }

    @include phone {
      margin-right: 0;
      padding-right: 0;
      flex-shrink: initial;
    }
  }

  &__radio {
    @include media(1216px) {
      width: 100%;
      padding-left: 35px;
      margin-bottom: 29px !important;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 3px;

    @include phone {
      font-size: 14px;
    }
  }

  &__number {
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;

    @include phone {
      font-size: 18px;
      line-height: normal;
    }

    &_overpay {
      color: #00B295;
    }
  }

  &__btn {
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 25px;
    background-color: black;
    border-radius: 3px;
    outline: none;
    cursor: pointer;

    @include phone {
      width: 100%;
    }
  }

  &__close-btn {
    outline: none;
    padding: 15px;
    border-radius: 50%;
    background-color: white;

    position: absolute;
    top: -43px;
    right: 1px;
    width: 21px;
    height: 22px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    z-index: 4;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 14px;
      left: 9px;
      width: 14px;
      height: 2px;
      border-radius: 2px;
      background-color: #979797;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
