.radio-calc {

  display: flex;
  align-items: center;
  margin-bottom: 4px;

  @include phone {
    display: block;
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    cursor: pointer;
    line-height: 26px;
    display: inline;
    color: #666;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: -34px;
    top: -3px;
    width: 24px;
    height: 24px;
    border: 1px solid #C6C6C6;
    border-radius: 100%;
    background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 14px;
    height: 14px;
    background: $spindrift;
    position: absolute;
    top: 3px;
    left: -28px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  &__label {
    font-size: 16px;
    line-height: 19px;
    color: #808080;
    padding-bottom: 5px;
    border-bottom: 1px dashed #808080;
    user-select: none;

    .tooltip_content {
      border-top: none;
    }

    @include phone {
      font-size: 14px;
      line-height: normal;
    }

  }

  &__item {
    margin-right: 78px;
    @include tablets {
      margin-bottom: 13px;
      margin-right: 20px;
    }
    @include phone {
      margin-right: 0;
    }

  }
}
