.rates {

  svg {
    circle {
      transition: 0.3s ease-out;
    }

    path {
      transition: 0.3s ease-out;
    }

    rect {
      transition: 0.3s ease-out;
    }
  }

  @include tablets {
    display: flex;
  }

  @include phone {
    display: block;
  }

  &__price-container {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-bottom: 22px;

    @include tablets {
      padding-right: 17%;
      &:last-child {
        padding-right: 0;
      }
    }

    @include phone {
      margin-bottom: 38px;
    }
  }

  &__text {
    font-size: 16px;
    color: rgba(#000, 0.5);
  }

  &__value {
    font-weight: 700;
    font-size: 41px;

    &.price {
      width: 252px;
      text-align: center;
    }

    @include phone {
      font-size: 42px;
    }
  }

  &__minus {
    margin-right: 18px !important;
    cursor: pointer;
    transition: 0.3s ease-out;

    &:hover {
      svg {
        circle {
          stroke: #00B295;
        }

        rect {
          fill: #00B295;
        }
      }
    }
  }

  &__plus {
    margin-left: 18px !important;
    cursor: pointer;
    transition: 0.3s ease-out;

    &:hover {
      svg {
        circle {
          stroke: #00B295;
        }

        path {
          fill: #00B295;
        }
      }
    }
  };
}
