.table-popup {
  font-size: 15px;
  color: rgba(#000000, 0.5);
  max-height: calc(100% - 87px - 95px - 166px);
  //max-height: 60%;
  overflow-y: scroll;

  @include media(1216px) {
    max-height: calc(100% - 87px - 95px - 290px);
  }

  @include phone {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100% - 64px - 54px - 289px);
    margin-right: 6px;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 3px;
    background-color: rgba(0,0,0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    border: 0px solid rgba(0,0,0,0.5); /* should match background, can't be transparent */
    background-color: rgba(0,0,0,0.9);
  }

  &__row {
    //padding: 20px 10px 20px 0;
    &:nth-child(odd) {
      background-color: rgba(#F5F7F7, 0.8);
    }

    &:last-child {
      border-top: 1px solid #E6E6E6;
      font-weight: 600;
    }
  }

  &_head {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }
}
