.v-select {
  font-family: 'Suisse Intl', sans-serif;
  margin-bottom: 15px;
}

.vs {
  &__dropdown-toggle {
    font-family: 'Suisse Intl', sans-serif;
  }
}

.vs__search, .vs__search:focus {
  margin: 0;
  padding: 0;
}

.vs__clear {
  visibility: hidden;
  pointer-events: none;
}

.vs__actions {
  cursor: pointer;
}
.vs__dropdown-toggle {
  position: relative;
  &:before {
    content: 'Цель*';
    position: absolute;
    top: 4px;
    left: 21px;
    font-size: 9px;
    color: #808080;
  }
}

.vs__dropdown-option {
  padding: 14px 21px;
  color: #808080;

  &--highlight {
    background: rgba(#C4C4C4,0.2);
    color: black;
  }
}
.vs__search {
  display: none;
}

.selectBox .vs__search::placeholder,
.selectBox .vs__dropdown-toggle {
  font-family: 'Suisse Intl', sans-serif !important;
  width: 100%;
  background: white;
  -webkit-appearance: none;
  color: #1f1f1f;
  padding: 27px 20px 21px !important;
  border: 1px solid #e7e7e7;
  border-radius: 3px !important;
  cursor: text;
  outline: none;
  transition: border-color .3s ease;
  font-size: 16px;
  font-weight: 400;
}
.selectBox .vs__dropdown-menu {
  font-family: 'Suisse Intl', sans-serif !important;
  width: 100%;
  background: white;
  -webkit-appearance: none;
  color: #1f1f1f;
  //padding: 27px 20px 21px !important;
  //border: 1px solid #e7e7e7;
  //border-radius: 3px !important;
  cursor: text;
  outline: none;
  transition: border-color .3s ease;
  font-size: 16px;
  font-weight: 400;
}

//.selectBox .vs__clear,
//.selectBox .vs__open-indicator {
//  fill: #5e3066;
//}
.vs__selected {
  padding: 0;
  margin: 0;
}
