<template lang="pug">
  transition(name="fade")
    .overlay-calc(@click="closePopup")
      .popup-calc(@click.stop)
        slot
        .popup-calc__close-btn(@click="closePopup")
</template>


<script>
  import {mapFields} from 'vuex-map-fields';

  export default {
    name: 'popup',
    methods: {
      closePopup(e) {
        e.stopPropagation();
        this.popupScheduleActive = false
      },
      openPopup(){
      
      }
    },
    computed: {
      ...mapFields({
        popupScheduleActive: 'popupScheduleActive'

      }),
    }
  }
</script>

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s
  }
  
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  {
    opacity: 0
  }
</style>
