@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/SuisseIntl-Regular.eot');
  src: url('../fonts/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SuisseIntl-Regular.woff2') format('woff2'),
  url('../fonts/SuisseIntl-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/SuisseIntl-Medium.eot');
  src: url('../fonts/SuisseIntl-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SuisseIntl-Medium.woff2') format('woff2'),
  url('../fonts/SuisseIntl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/SuisseIntl-Thin.eot');
  src: url('../fonts/SuisseIntl-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SuisseIntl-Thin.woff2') format('woff2'),
  url('../fonts/SuisseIntl-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
