<template lang="pug">
  #app
    <!--.title-->
      <!--span.title__text Заполните контактную информацию (шаг&ensp;-->
      <!--span.title__page-num 1&ensp;-->
      <!--span.title__text из 5)-->
    <!--#nav.nav-->
        <!--router-link(to='/') Step1-->
        <!--|  |-->
        <!--router-link(to='/step2') Step2-->
        <!--|  |-->
        <!--router-link(to='/step3') Step3-->
        <!--|  |-->
        <!--router-link(to='/step4') Step4-->
        <!--|  |-->
        <!--router-link(to='/consumerCredit') ConsumerCredit-->
    router-view
</template>

<script>
  export default {
    created(){
      this.$router.replace({name:'consumerCredit'})
    }
  }
</script>
